<configuration scan="true" scanPeriod=" 5 seconds" debug="false">
    <jmxConfigurator/>

    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %class{56}.%M:%L - %msg%n"/>
    <property name="TRACK_LOG_PATTERN" value="%-4relative [%thread] %-5level %logger{35} - %msg%n"/>
    <property name="LOG_PATH" value="/data/logs/caviar"/>


    <!--本地日志-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="BUSINESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/courier-connector.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/courier-dispatcher-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="com.zhangyiwen.caviar" additivity="false" level="INFO">
        <appender-ref ref="BUSINESS"/>
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="INFO">
        <appender-ref ref="ROOT"/>
        <appender-ref ref="STDOUT" />
    </root>

</configuration>